#clock{
    padding: auto;
    font-size: 135px;
    font-style: italic;
    background-color: gold;
    display: inline-block;
    margin-left: 190px;
    border: 5px solid silver;
    margin-top: 250px;
    margin-bottom: 100px;
    position: fixed;
    border-radius: 15px;
}

.dc{
    text-align: center;
    font-size: 50px;
    position:absolute;
    padding-top:1%;
    left:40%;
    border: 5px solid black;
    border-radius: 15px;
}

body{
    background: red;
    margin-top: 40px;
}